QFrame {
    background: grey;
}

PortalDialog {
    background: #f0f0f0;
}

Label {
    background: #f0f0f0;
    font-family: "Source Code Pro", serif;
    font-size: 10pt;
}



/*QCheckBox {*/
     /*border-image: url(resources/icons/not.png);*/
/*}*/

QCheckBox::indicator:checked {
    margin-top: 1px;
     image: url(resources/icons/ok.png);
 }

QCheckBox::indicator:unchecked {
    margin-top: 1px;
     image: url(resources/icons/not.png);
 }