QFrame {
    background: grey;
    /*border: 1px solid #e5e5e5;*/
}

QFrame#input_frame {
    border-right: 1px solid white;
}

QFrame#info_frame {
    border-bottom: 1px solid white;
}

InputSide {
    background: grey;

}

QPushButton#add_out {
    margin-right: 4px;
}

QPushButton#del_out {
    margin-left: 4px;
}

PortalDialog {
    background: gray;
}

QComboBox {
    background: #dddddd;
    font-family: "Source Code Pro", fantasy;
    font-size: 14pt;
    border: 1px solid #ededed;
    border-radius: 4px;
}

QLineEdit {
    background: #dddddd;
    font-family: "Source Code Pro", fantasy;
    font-size: 14pt;
    border: 1px solid #EDEDED;
    border-radius: 4px;
}


QComboBox:disabled {
    background: #838383;
    font-family: "Source Code Pro", fantasy;
    font-size: 14pt;
    border: 1px solid #ededed;
    border-radius: 4px;
}

QLineEdit:disabled {
    background: #838383;
    font-family: "Source Code Pro", fantasy;
    font-size: 14pt;
    border: 1px solid #ededed;
    border-radius: 4px;
}


QLabel {
    background: grey;
    font-family: "Source Code Pro", fantasy;
    font-size: 14pt;
}

QLabel:disabled {
    background: grey;
    color: #b6b6b6;
    font-family: "Source Code Pro", fantasy;
    font-size: 14pt;
}



QCheckBox::indicator:checked {
    image: url(resources/icons/32/check.png);

 }

QCheckBox::indicator:unchecked {
    image: url(resources/icons/32/uncheck.png);
 }

/*кнопка не нажата*/

ArrowButton#door::checked {
    border-image: url(resources/icons/32/portal_check.png);
}

ArrowButton#door {
    border-image: url(resources/icons/32/portal_uncheck.png);
}


ArrowButton#plus {
    border-image: url(resources/icons/32/plus.png);
}

ArrowButton#minus  {
    border-image: url(resources/icons/32/minus.png);

}

ArrowButton#left::checked {
    border-image: url(resources/icons/32/left.png);
}

ArrowButton#top::checked  {
    border-image: url(resources/icons/32/top.png);

}

ArrowButton#right::checked  {
    border-image: url(resources/icons/32/right.png);

}

ArrowButton#bottom::checked  {
    border-image: url(resources/icons/32/bottom.png);

}

/*кнопка нажата*/

ArrowButton#left {
    border-image: url(resources/icons/32/left_un.png);

}

ArrowButton#top {
    border-image: url(resources/icons/32/top_un.png);

}

ArrowButton#right{
    border-image: url(resources/icons/32/right_un.png);

}

ArrowButton#bottom {
    border-image: url(resources/icons/32/bottom_un.png);

}